body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.main{
    display: flex;
    flex-direction: column;
    position: relative;
}
.body-no-scroll {
  overflow: hidden;
}
 